:root {
    --bg-color: #151b23;
    --gh-blue: #316dca;
    --gh-text: #d1d7e0;
    --gh-text-faded: #9198a1;
    --gh-card: #212830;
    --gh-accent: #262c36;
    --gh-green: #3b8640;
    --gh-star: #daaa3f;
}